#title-sitename {
  font-size: 0.8rem;
}

@media screen and (max-width: 576px) {
  $font-factor: 1.1;
  #title-sitename {
    font-size: 1rem;
  }
}

blockquote {
  margin-bottom: 1rem;
}

.tooltip {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
  max-width: 200px;
}

.popover {
  text-decoration: underline dashed #7253ed;
  cursor: pointer;
  color: #7253ed !important;
}