<script src="/assets/index.js"></script>
<div class="">
  <p class="text-small text-grey-dk-000 mb-0 mr-2">For feedback and suggestions, <a href="/collaborate#share-feedback">click here</a>.</p>
  <p class="text-small text-grey-dk-000 mb-0 mr-2"> Permalink: 
    <a class="permalink" href="{{site.permurl}}{{ page.url }}">{{site.permurl}}{{ page.url }}</a>
  </p>
</div>
<!-- Popper for Tooltips -->
<script src="https://unpkg.com/@popperjs/core@2"></script>
<!-- Mathjax Support -->
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>