<meta og:type="website" property="og:type" content="website">
<meta og:title="Data for Education Systems" property="og:title" content="Data for Education Systems">
<meta og:url="https://data4edu.systems" property="og:url" content="https://data4edu.systems">
<meta og:image="https://data4edu.systems/assets/images/Data%20to%20Action%20-%20Header.png" property="og:image" content="https://data4edu.systems/assets/images/Data%20to%20Action%20-%20Header.png">
<meta og:site_name="Data for Education Systems" property="og:site_name" content="Data for Education Systems">
<meta og:locale="en_IN" property="og:locale" content="en_IN">

<script data-goatcounter="https://d4es.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>